.container {
  width: 1440px;
  height: 1068px;
  background: #1a1d23;
  margin: 0 auto;

  .subContainer {
    width: 800px;
    margin: 0 auto;

    .header {
      padding-top: 50px;
      margin-bottom: 50px;
    }

    .loadPostsContainer {
      margin-top: 30px;
      cursor: pointer;
      .loadPosts {
        margin-top: 30px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: justify;
        color: #ff57b2;
        background-color: inherit;
        border: none;
      }
    }
  }
}

.containerPost {
  width: 700px;
  height: 108px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;

  .title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-align: justify;
    letter-spacing: -0.5px;
    color: #f8f8f8;
  }

  .subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #d7d7d7;
  }

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 263px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #bbbbbb;

    .createdat {
      display: flex;
      flex-direction: row;

      > div {
        margin-right: 5px;
      }
    }

    .author {
      display: flex;
      flex-direction: row;
      > div {
        margin-right: 5px;
      }
    }
  }
}
