.container {
  width: 1440px;
  height: 2773px;
  background: #1a1d23;
  margin: 0 auto;

  .header {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 800px;
    margin: 0 auto;
  }
  .banner {
    img {
      width: 100%;
      height: 25rem;
    }
  }

  .main {
    margin: 0 auto;
    width: 721px;
    height: 2108px;
    margin-top: 40px;
    > span {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 58px;
      letter-spacing: -0.5px;
      color: #f8f8f8;
    }

    .info {
      display: flex;
      flex-direction: row;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #bbbbbb;
      width: 700px;
      margin-top: 25px;

      .createdAt {
        display: flex;
        flex-direction: row;
        margin-right: 20px;
        > div {
          margin-right: 10px;
        }
      }

      .author {
        display: flex;
        flex-direction: row;
        margin-right: 20px;

        > div {
          margin-right: 10px;
        }
      }

      .etr {
        display: flex;
        flex-direction: row;

        > div {
          margin-right: 10px;
        }
      }
    }

    .content {
      width: 700px;
      height: 1942px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 140%;
      text-align: justify;
      color: #f8f8f8;
      margin-top: 30px;

      h2 {
        font-size: 2.25rem;
        margin: 3rem 0;
      }

      p,
      span,
      a,
      ul {
        font-size: 1.125rem;
        line-height: 1.8;
      }

      strong {
        font-weight: 700;
      }

      ul {
        li {
          margin: 0.5rem 0;
        }
      }
    }
  }
}
